.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 350px;
    height: 350px;
}

.flying-box{

    width: 150px;
    height: 25px;
    background-color: aquamarine;
    color: blue;
}
